<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h3>{{headingTitle}}</h3>

<div class="container" data-ng-init="availableAirlineOffers();">
    <div data-ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="block" data-ng-repeat="offer in availableOffers">
        <label>Offer Price : {{offer.price.amount}} {{offer.price.currency}}</label>
        <br>
        <label>From : {{offer.route.from}}</label>
        <br>
        <label>To : {{offer.route.to}}</label>
        <br>
        <button class="button" data-ng-click="select($index);">Select</button>
    </div>
</div>
<div class="section_div" data-ng-controller="accountCreateController" data-ng-show="displayAccounts"
     data-ng-init="accountList();">
    <div>
        <div class="section_div">
            <div data-ng-show="error" class="alert alert-danger">{{error}}</div>
        </div>
        <label for="account">Account</label>
        <select name="account" id="account" data-ng-model="account" class="small_select"
                data-ng-options="account as account.balance.amount +' '+ account.balance.currency for account in allAccounts"></select>
        <label for="amount">Number of Tickets</label>
        <input type="text" name="amount" id="amount"
               data-ng-model="buyingRequest.amount"/>
        <br>
        <button class="button" data-ng-click="buy(account, buyingRequest);">Buy</button>
    </div>
</div>
</body>
</html>